.homepage {
  display: flex;
  flex-direction: row;
  background: #dae5f5;
    height: 100vh;    
  position: relative; 
  overflow: hidden;
}
.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeimg {
  height: auto;
  width: auto;
}

.bottom-text{
  position: absolute;
  bottom: 20px;             
  left: 63%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 6px;                  
  color: #000;
  font-size: 14px;
}
.bottom-text svg {
  font-size: 16px;
  vertical-align: middle;
}